

<div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half -->
    <div class="col-md-3 p-0 bg-indigo h-md-100">
        <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
            <div class="logoarea pt-5 pb-5">
                <p>
                  <strong>Name:</strong>
                  <%= @district.dname %>
                </p>

                <p>
                  <strong>City:</strong>
                  <%= @district.dcity %>
                </p>

                <p>
                  <strong>County:</strong>
                  <%= @district.dcounty %>
                </p>

                <p>
                  <strong>State:</strong>
                  <%= @district.dstate %>
                </p>

                <p>
                  <strong>Country:</strong>
                  <%= @district.dcountry %>
                </p>

                <% if policy(@district).destroy? %>
                  <%= link_to 'Edit', edit_district_path(@district) %> |
                <% end %>

                <%= link_to 'Back', districts_path %>
            </div>
        </div>
    </div>

    <!-- Second Half -->
    <div class="col-md-9 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
           <div class="row">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Schools in District</h5>
                
                <h3 class="card-text"><%= @district.schools.count %></h3>
            
              </div>
            </div>
          </div>
           

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Students in District</h5>
                <h3 class="card-text">Coming soon</h3>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Avg Grades in District</h5>                
                <h3 class="card-text">Coming soon</h3>
              </div>
            </div>
        
      </div>
        
</div>