<div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half -->
    <div class="col-md-3 p-0 bg-indigo h-md-100">
        <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
            <div class="logoarea pt-5 pb-5">
                  <% for x in @lesson.teachers%>
                    <h4><%= "#{x.lastn}, #{x.firstn}" %></h4>    
                  <% end %>

                  <p>
                    <strong>Name:</strong>
                    <%= @lesson.lessname %>
                  </p>

                  <p>
                    <strong>Num:</strong>
                    <%= @lesson.lessnum %>
                  </p>

                  <p>
                    <strong>Field:</strong>
                    <%= @lesson.lessfield %>
                  </p>

                  <p>
                    <strong>Startdate:</strong>
                    <%= @lesson.startdate %>
                  </p>

                  <p>
                    <strong>Enddate:</strong>
                    <%= @lesson.enddate %>
                  </p>

                  <p>
                    <strong>Starttime:</strong>
                    <%= @lesson.starttime %>
                  </p>

                  <p>
                    <strong>Endtime:</strong>
                    <%= @lesson.endtime %>
                  </p>

                  <p>
                    <strong>School:</strong>
                    <%= @lesson.school_id %>
                  </p>

                  <%= link_to 'Edit', edit_lesson_path(@lesson) %> |
                  <%= link_to 'Back', school_lessons_path(@lesson.school.id) %>
            </div>
        </div>
    </div>

    <!-- Second Half -->
    <div class="col-md-9 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
         <div class="row">
            
          
            <div class="card col-md-12 ">
             <% for x in @lesson.students %>
              
                <h4><%= link_to "#{x.lastname}, #{x.firstname}", student_path(x.id) %></h4> 
                <h3>Class avg: 90%</h3>
            <% end %>
              </div>
                  
         </div>
        </div>
    </div>
        
</div>
