<p id="notice"><%= notice %></p>

<p>
  <strong>Firstn:</strong>
  <%= @teacher.firstn %>
</p>

<p>
  <strong>Lastn:</strong>
  <%= @teacher.lastn %>
</p>

<p>
  <strong>Teachnum:</strong>
  <%= @teacher.teachnum %>
</p>

<p>
  <strong>School:</strong>
  <%= @teacher.school_id %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', school_teachers_path(@teacher.school.id) %>
