<div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half -->
    <div class="col-md-3 p-0 bg-indigo h-md-100">
        <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
            <div class="logoarea pt-5 pb-5">
              <h1><%= @district.dname %></h1>
               <h1>Schools</h1>

              
                <%= link_to 'New School', new_district_school_path %> |
              

               <%= link_to 'Back', districts_path %> 
            </div>
        </div>
    </div>

    <!-- Second Half -->
    <div class="col-md-9 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Street</th>
                  <th>Town</th>
                  <th>State</th>
                  <th>Zip</th>
                  
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @schools.each do |school| %>
                  <tr>
                    <td><%= link_to school.sname,  school_path(school.id) %></td>
                    <td><%= school.street %></td>
                    <td><%= school.stown %></td>
                    <td><%= school.sstate %></td>
                    <td><%= school.szip %></td>
                    
                    
                    <td><%= link_to "Classes", school_lessons_path(school.id) %></td>
                    <td><%= link_to "Students", school_students_path(school.id) %></td>
                    <td><%= link_to "Teachers", school_teachers_path(school.id) %></td> 
                    <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

        </div>
    </div>
        
</div>