<div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half -->
    <div class="col-md-3 p-0 bg-indigo h-md-100">
        <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
            <div class="logoarea pt-5 pb-5">
              <h1><%= @school.district.dname  %></h1>
              
               <strong>Name:</strong>
                    <h1><%= @school.sname %></h1>  <


                  <p>
                    <strong>Street:</strong>
                    <%= @school.street %>
                  </p>

                  <p>
                    <strong>Town:</strong>
                    <%= @school.stown %>
                  </p>

                  <p>
                    <strong>State:</strong>
                    <%= @school.sstate %>
                  </p>

                  <p>
                    <strong>Zip:</strong>
                    <%= @school.szip %>
                  </p>




                <%= link_to 'Edit', edit_school_path(@school) %> |
                <%= link_to 'Back', district_schools_path(@school.district_id) %>
            </div>
        </div>
    </div>

    <!-- Second Half -->
    <div class="col-md-9 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Classes</h5>
                <h1 class="card-text"><%= @school.lessons.count %></h1>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Students</h5>
                <h1 class="card-text"><%= @school.students.count %></h1>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">School Average</h5>
                <h1 class="card-text">0</h1>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
    </div>
        
</div>